div {
    color: red;
    background-color: gold;
    font-size: 4vw;
    padding: 2vw;
    margin: 2vw;
    border: solid;
}

.contrast {
    filter: contrast(100);
}

.brightness {
    filter: brightness(50%);
}

.inverted {
    filter: invert(100%);
}

.rotated {
    filter: hue-rotate(200deg);
}

.grayscale {
    filter: grayscale();
}