body {
    width: 500px;
    margin: 0 auto;
}

h1 {
    position: fixed;
    top: 0;    
}

p:nth-of-type(1) {
    margin-top: 60px;
}

.positioned {
    position: sticky;
    top: 30px;
    left: 30px;
    padding: 10px;
    margin: 10px;
    background: rgba(255, 84, 103, .3);
    border: 2px solid rgb(255, 84, 104);
    border-radius: 5px;
}

/* .positioned {
    position: fixed;
    top: 80%;
    left: 90%;
    padding: 10px;
    margin: 10px;
    background: rgba(255, 84, 103, .3);
    border: 2px solid rgb(255, 84, 104);
    height: 40px;
    width: 40px;
    border-radius: 5px;
} */