.encabezado {
    margin: 4rem;
    text-align: center;
}

.tarjetas {
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}