div {
    background-image: url(../img/playa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: georgia, serif;
    font-size: 7vw;
    text-align: center;
    border: solid;
}

.blender {
    mix-blend-mode: difference;
    color: yellow;
}